# Entorno ejemplo para backend
DATABASE_URL=postgres://postgres:postgres@localhost:5432/multi_tenant_demo
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
NODE_ENV=development
PORT=4000

# Entorno ejemplo para frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
